body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.navbar-list {
  padding: 0 60px;
  background-color: #ffffff;
}
.navbar-list-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navbar-list-items :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-list-items :nth-child(1) p {
  font-weight: 400;
  line-height: 25px;
  color: #777777;
  font-size: 15px;
  padding: 10px;
  text-align: start;
}
.navbar-list-items :nth-child(1) .logo-main {
  margin-left: 120px;
}

.navbar-list-items :nth-child(2) {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navbar-list-items :nth-child(2) p {
  font-size: 18px;
  color: #333333;
}
.test {
  display: flex;
}
.test i {
  font-size: 30px;
  padding: 14px 14px;
  background-color: whitesmoke;
  border-radius: 50%;
  color: black;
  font-size: medium;
  display: flex;
  justify-content: space-between;
}

.navbar-hero {
  display: flex;
  align-items: center;

  background-color: black;
  height: 60px;
  padding: 0 70px;
}
.navbar-hero :nth-child(1) {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar-hero :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-end {
  display: flex;
  align-items: center;
}
.navbar-hero :nth-child(1) a {
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.nav-flag {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.billing-details,
.order-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%;
}

h2 {
  margin-top: 0;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.order-details .order-summary {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
}

.order-details .product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: row;
}

.order-details .subtotal,
.order-details .shipping,
.order-details .total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
}

.order-details .total {
  font-size: 1.2em;
  color: #d9534f;
}

#creat-product {
  width: 100%;
  background-color: black;
  color: white;
  height: 50px;
  font-size: 20px;
}
.footer-up {
  display: flex;
  justify-content: start;
  gap: 190px;
  background-color: black;
  padding: 35px 0;
  align-items: center;
  border-bottom: 1px solid #323232;
  margin: 0 55px;
}
.footer-superhero {
  background-color: black;
  margin-top: 50px;
}
.footer-up p {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.footer-up a {
  color: black;
  padding: 4px 8px;
  background-color: white;
  border-radius: 50%;
  font-size: small;
}
.footer-main {
  background-color: black;
  display: flex;
  border-bottom: 1px solid #323232;
}
.footer-main {
  margin: 30px 55px 0 55px;
}
.footer-main p a i {
  border-radius: 50%;
  font-size: 10px;
  border-radius: 50%;
  padding: 10px 20px;
}
.ft-right {
  margin-left: 30px;
  display: flex;
  gap: 130px;
}
.ft-right ul li {
  color: #cfcdd1;
  margin-bottom: 7px;
}
h3 {
  color: white;
  font-weight: 600;
}
.sb-ft {
  margin: 20px 0;
  color: white;
  font-weight: 700;
  font-size: 60;
}
.ft-down {
  color: white;
  margin: 20px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.hine {
  text-align: center;
  display: flex;
  align-items: center;
}

.login-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid white;
}
.login-first p {
  font-size: 12px;
  font-weight: bold;
}
.login {
  background-color: black;
  width: 300px;
  height: 100vh;
  color: white;
  padding: 0 10px;
  position: fixed;
  top: var(--wd-admin-bar-h);
  bottom: 0;
  z-index: 500;
  overflow: hidden;
  overflow-y: auto;
  right: 0;
  display: none;
}
.total-qty {
  position: absolute;
  top: -15px;
  left: 15px;
  color: black;
  background-color: white;
  height: 1rem;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.cart-shopping {
  position: relative;
}
